.signUp-Container {
  background-color: white;
  padding: 2rem 2.5rem;
  border-radius: 0.5rem;
  width: 25%;
  box-shadow: 3px 3px 3px 3px rgba(200, 200, 200, 0.5);

  .signUp-title {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem 0 2rem;
  }

  .signUp-from {

    //로그인 section
    .signUp-btn-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;

      .signUp-activate-btn,
      .disable{
        width: 100%;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.3rem;
        margin-bottom: 1rem;

      }

      .signUp-activate-btn {
        background-color: #003af5;
        color: white;
        cursor: pointer;
      }
      .disable{
        background-color: rgb(200,200,200);
        color: white;
      }

      .link-btn{
        font-size: 0.9rem;
        text-decoration: none;
        color: #003af5;
        font-weight: 500;
      }
    }
  }
}