.notFound-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .notFound-title {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  .notFound-btn {
    padding: 1rem 1.3rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background-color: #ff6347ff;
    cursor: pointer;
  }
}
