.new-todo-wrapper{
  display: flex;
  justify-content: space-between;
  //width: 100%;
  border: 1px solid rgb(200,200,200);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;

  .new-todo-input{
    width: 90%;
    font-size: 1.3rem;
    padding: 0.5rem;
    border: none;
    outline: none;
  }

  .new-todo-btn{
    width: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: white;
  }
  .new-todo-btn:hover{
    background-color: rgb(200,200,200);
    color: white;
    transition: 0.5s;
  }
}